#quantidade{
    border-radius: 3px;
    border: 1px solid gray;
    width: 20%;
    padding: 0.5%;
   
}
<style>
        /*utilizado para dar estilo a barra divisoria dos valores*/
        .quebra1{
            display: inline;
            color: #007bff;;
            font-weight: bold;
        }
        .quebra2{
            display: inline;
            color: #ffc107;
            font-weight: bold;
        }
        .quebra3{
            display: inline;
            color: #dc3545;
            font-weight: bold;
        }
        #active{
            background-color: rgba(65, 191, 10, 0.77);
            
        }
        #voltar{
            color: #a5a5a5;
            text-decoration-style: none;
        }
        .bolinha1{
            display: inline;
            border-radius: 10px;
            padding: 0.5%;
            padding-left: 0.5%;
            padding-right: 0.5%;
            color: white;
            background-color: #007bff;
        }
        .bolinha2{
            display: inline;
            border-radius: 10px;
            padding: 0.5%;
            padding-left: 0.5%;
            padding-right: 0.5%;
            color: white;
            background-color: #ffc107;
        }
        .bolinha3{
            display: inline;
            border-radius: 10px;
            padding: 0.5%;
            padding-left: 0.5%;
            padding-right: 0.5%;
            color: white;
            background-color: #dc3545;
        }
    </style>